@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: green;
        background-color: cyan;
    }

    table {
        color: blue;
    }

    button {
        color: purple;
    }

    p {
        color yellow;
    }

    footer {
        color: orange;
    }
    }
</style>
<body>
       <main>
        </br>
           <table>
               <tr>
                   <td>Image 1</td>
                   <td>Image 2</td>
                   <td>Image 3</td>
               </tr>
               <tr>
 <td>Image 4</td>
 <td>Image 5</td>
               </tr>
           </table>
        </br>
    </main>
</body>